@font-face {
    font-family: 'Inter';
    src: url('material/Inter.ttf');
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    --color-black: #050505;
    --color-very-dark-gray: #121212;
    --color-dark-gray: #353535;
    --color-medium-dark-gray: #666666;
    --color-gray: #7f7f7f;
    --color-medium-light-gray: #999999;
    --color-light-gray: #e5e5e5;
    --color-very-light-gray: #f4f4f4;
    --color-blue: #087fe7;
    --box-shadow-light: rgba(0, 0, 0, 0.1);
    --box-shadow-dark: rgba(0, 0, 0, 0.2);
    --font-weight-650: 650;
    --font-weight-550: 550;
    --font-weight-450: 450;
    --font-weight-400: 400;
    --font-weight-320: 320;
    --font-size-53: 53px;
    --font-size-45: 45px;
    --font-size-36: 36px;
    --font-size-26: 26px;
    --font-size-24: 24px;
    --font-size-18: 18px;
    --font-size-15: 15px;
    --font-size-14: 14px;
    --font-size-13-5: 13.5px;
    --font-size-13: 13px;
    --font-size-12: 12px;
}
