@font-face {
    font-family: 'Inter';
    src: url('material/Inter.ttf');
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    --darkest: #050505;
    --darker: #121212;
    --dark: #353535;
    --dark-medium: #666666;
    --light-medium: #7f7f7f;
    --light: #999999;
    --lighter: #e5e5e5;
    --lightest: #f4f4f4;
    --blue: #087fe7;
    --light-shadow: rgba(0, 0, 0, 0.1);
    --dark-shadow: rgba(0, 0, 0, 0.2);
    --font-53: 53px;
    --font-45: 45px;
    --font-36: 36px;
    --font-26: 26px;
    --font-24: 24px;
    --font-18: 18px;
    --font-15: 15px;
    --font-14: 14px;
    --font-13-5: 13.5px;
    --font-13: 13px;
    --font-12: 12px;
}
